.dashboardPage {
	display: flex;
	flex-direction: column;
	gap: 14px;

	.slideRow {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 14px;

		.slideShow {
			height: 350px;
			width: 450px;
		}
	}

	.formSample {
		background-color: #fff;
		box-shadow: #ccc 0 0 4px;
		border-radius: 7px;
		max-width: 1000px;
		padding: 14px;
	}

	@media only screen and (max-width: 1000px) {
		.slideRow {
			& > div,
			.slideShow {
				width: 100%;
			}
		}
	}
}
