.mainComponent {
	--header-height: 70px;
	--reduced-sidebar-width: 78px;
	--sidebar-width: 280px;
	--footer-height: 50px;

	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	position: fixed;
	width: 100%;

	& > header {
		background-color: var(--COLOR_1);
		box-shadow: #333 0 0 4px;
		color: #fff;
		display: flex;
		flex-direction: row;
		gap: 10px;
		height: var(--header-height);
		min-height: var(--header-height);
		padding: 0 15px;
		position: relative;
		width: 100%;
		z-index: 100;

		& > .rightContent {
			display: flex;
			flex-direction: row;
			gap: 7px;
			margin: auto 0;
			position: relative;

			& > button {
				position: relative;

				&[data-bag]::after {
					background-color: var(--ALERT);
					border-radius: 50%;
					bottom: 10px;
					color: #fff;
					content: attr(data-bag);
					font-size: 10px;
					opacity: 1;
					padding-top: 1px;
					position: absolute;
					right: 7px;
					height: 14px;
					text-align: center;
					translate: 0 50%;
					transition: all 0.25s;
					width: 16px;
				}
			}

			input,
			select,
			textarea {
				&:focus {
					border-color: #333;
				}
			}

			button {
				background-color: #fff2;

				&:hover {
					background-color: #fff3;
				}
			}
		}
	}

	& > .temporaryNotifications {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 7px;
		position: absolute;
		top: calc(var(--header-height) + 7px);
		right: 7px;
		transition: all 0.25s;
		z-index: 90;

		.notificationBallon {
			animation: showTopToBottom 0.5s;
			background-color: #222;
			border-radius: 7px;
			color: #fff;
			font-size: 14px;
			width: 300px;
			max-width: 300px;
			padding: 10px 14px;
			text-align: left;

			& > div {
				display: flex;
				flex-direction: column;
				gap: 4px;

				p {
					margin-block: 0;

					.icon {
						color: #fff;
						font-size: 12px;
						margin-right: 4px;
					}
				}

				span {
					color: #fff9;
					font-size: 12px;
				}
			}

			& > .closeButton {
				color: #fff;
				float: right;

				&:hover {
					color: #fffc;
				}
			}
		}
	}

	& > .notifications {
		animation: showSubMenu 0.5s;
		background-color: #fff;
		box-shadow: #ccc 0 0 4px;
		height: calc(100% - var(--header-height));
		max-height: 100%;
		padding: 14px;
		position: fixed;
		top: var(--header-height);
		transition: all 0.25s;
		width: 300px;
		z-index: 100;

		h3 {
			height: 30px;

			button.link {
				color: var(--ACTIVE_COLOR);
				float: right;
				translate: 0 7px;

				&:hover {
					color: var(--ACTIVE_COLOR_HOVER);
				}

				&:before {
					font-size: 16px;
				}

				&[data-icon='close'] {
					margin-left: 7px;
				}
			}
		}

		.insideNotifications {
			border-radius: 7px;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			gap: 7px;
			height: calc(100% - 30px);
			max-height: calc(100% - 30px);
			overflow-y: auto;
			position: relative;

			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}

			::-webkit-scrollbar-track {
				background: #fff;
			}

			::-webkit-scrollbar-thumb {
				background: #888;
			}

			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}

			& > .notFoundContainer {
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-grow: 1;
				height: 100%;
				width: 100%;

				button.notFound {
					border: none;
					color: #bbb;
					cursor: auto;
					margin: auto 0;
					text-align: center;

					&::before {
						margin: 0 auto;
						font-size: 48px;
					}
				}
			}

			button {
				border: 1px solid #ddd;
				flex-direction: column;
				text-align: left;
			}
		}
	}

	& > main {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		max-height: calc(100% - var(--header-height));
		width: 100%;

		& > .mainMenu {
			background-color: var(--ACTIVE_COLOR);
			display: flex;
			flex-direction: column;
			gap: 7px;
			overflow-y: auto;
			padding: 14px 14px;
			transition: all 0.25s;
			width: var(--sidebar-width);
			min-width: var(--sidebar-width);
			z-index: 100;

			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}

			::-webkit-scrollbar-track {
				background: #fff;
			}

			::-webkit-scrollbar-thumb {
				background: #888;
			}

			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}

			& > .buttonLimitedGroup {
				display: flex;
				flex-direction: column;
				gap: 7px;
			}

			button.menuButton {
				background-color: var(--ACTIVE_COLOR);
				font-size: 16px;
				height: calc(var(--reduced-sidebar-width) - 36px);
				justify-content: flex-start;
				transition: all 0.25s, font-size 0s, width 0s;
				width: 100%;

				&::before {
					font-size: 20px;
					translate: 0 -3px;
				}

				&:hover {
					background-color: #fff5;
				}

				&[data-active='true'] {
					background-color: #fff3;
				}

				&[data-loading='true'] {
					&::after {
						color: #fffc;
						left: auto;
						right: 7px;
						font-size: 20px;
					}
				}

				&[data-bag]::after {
					background-color: var(--ALERT);
					border-radius: 50%;
					bottom: 50%;
					color: #fff;
					content: attr(data-bag);
					font-size: 10px;
					opacity: 0.7;
					padding-top: 1px;
					position: absolute;
					right: 14px;
					height: 14px;
					text-align: center;
					translate: 0 50%;
					transition: all 0.25s;
					width: 16px;
				}

				&:hover[data-bag]::after {
					opacity: 1;
				}
			}

			& > .userInfoAux {
				background-color: #fff3;
				border-radius: 7px;
				display: flex;
				flex-direction: row;
				width: auto;

				& > .profilePicture {
					aspect-ratio: 1 / 1;
					background-color: #ccc;
					border-radius: 7px 0 0 7px;
					height: calc(var(--reduced-sidebar-width) - 4px);
					object-fit: cover;
				}

				& > .userInfoContent {
					border-radius: 0 7px 7px 0;
					display: flex;
					flex-direction: column;
					left: calc(var(--reduced-sidebar-width) - 14px);
					opacity: 1;
					padding: 7px 14px;
					pointer-events: auto;
					transform: none;
					transition: all 0.25s, opacity 0s;
					width: calc(var(--sidebar-width) - 14px);

					& > .userName {
						color: #fff;
						font-weight: bold;
						white-space: nowrap;
					}

					& > .userEmail {
						color: #fff9;
						font-size: 12px;
						white-space: nowrap;
					}

					& > .userOptions {
						display: flex;
						flex-direction: row;
						gap: 7px;
						margin: auto 0 0;

						& > button.link {
							color: #fff;
							flex-direction: column;
							justify-content: flex-end;

							&:hover {
								color: #fffc;
							}
						}
					}
				}
			}

			&.reduced {
				background-color: var(--BACKGROUND_ACTIVE);
				--sidebar-width: var(--reduced-sidebar-width);

				button.menuButton {
					background-color: transparent;
					color: #333;
					font-size: 0;
					width: calc(var(--reduced-sidebar-width) - 28px);

					&[data-bag]::after {
						background-color: var(--ALERT);
						bottom: 4px;
						color: #fff;
						right: 7px;
						translate: 0;
					}

					&[data-bag='null'] {
						display: none;
					}

					&[data-loading='true'] {
						&::before {
							display: none;
						}
						&::after {
							color: #333;
							left: 10px;
							right: auto;
						}
					}

					&:hover {
						background-color: #3333;
					}

					&[data-active='true'] {
						background-color: var(--BACKGROUND_ACTIVE);
						color: #333;
					}
				}

				& > .userInfoAux {
					background-color: transparent;
					border-top: 1px solid #bbb;
					border-radius: 0;
					justify-content: center;
					gap: 0;
					padding: 14px 0 0 0;

					& > .profilePicture {
						background-color: #ccc;
						border-radius: 50%;
						box-shadow: #aaa 0 0 4px;
						height: calc(var(--reduced-sidebar-width) - 28px);
						margin: auto 0;
						width: calc(var(--reduced-sidebar-width) - 28px);
					}

					& > .userInfoContent {
						display: none;
					}
				}
			}
		}

		& > .content {
			background-color: var(--BACKGROUND_COLOR);
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			gap: 14px;
			height: 100%;
			overflow-y: auto;
			padding: 14px;
			position: relative;
			transition: all 0.25s;
		}
	}
}

@keyframes showSubMenu {
	0% {
		opacity: 0;
		translate: -100% 0;
	}

	100% {
		opacity: 1;
		translate: 0;
	}
}

@keyframes showRightToLeft {
	0% {
		opacity: 0;
		translate: 100% 0;
	}

	100% {
		opacity: 1;
		translate: 0;
	}
}

@keyframes showUserMenu {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes showTopToBottom {
	from {
		opacity: 0;
		translate: 0 -50%;
	}

	to {
		opacity: 1;
		translate: 0;
	}
}

@media only screen and (max-width: 700px) {
	.mainComponent {
		& > .temporaryNotifications {
			padding: 7px;
			right: 0;
			top: var(--header-height);
			width: 100%;

			& > .notificationBallon {
				width: 100%;
				max-width: 100%;
			}
		}

		& > main {
			& > .mainMenu {
				left: 0;
				height: calc(100% - var(--header-height));
				opacity: 1;
				position: absolute;
				pointer-events: all;
				top: var(--header-height);

				&.reduced {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}
}
