.barChart {
	background-color: #fff;
	border-radius: 14px;
	box-shadow: #ccc 0 0 4px;
	display: flex;
	flex-direction: column;
	gap: 14px;
	min-height: 200px;
	min-width: 200px;
	padding: 14px;

	.header {
		max-width: 276px;
	}

	.barChartValue {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		gap: 7px;
		height: 200px;

		& > .barItem {
			background-color: #f4f4f4;
			border-radius: 7px;
			height: 100%;
			overflow: hidden;
			position: relative;
			transition: all 0.25s;
			width: 40px;

			&:hover {
				background-color: #ccc;

				&::before {
					background-color: var(--ACTIVE_COLOR);
				}

				span {
					opacity: 1;
				}
			}

			&::before {
				background-color: var(--ACTIVE_COLOR_HOVER);
				bottom: 0;
				content: '';
				height: var(--value);
				left: 0;
				position: absolute;
				transition: all 0.25s;
				width: 100%;
			}

			& > span {
				color: #222;
				display: block;
				opacity: 0;
				transform: rotate(90deg) translateX(50%);
				transition: all 0.5s;
			}

			& > label {
				background-color: #3333;
				bottom: 0;
				color: #fff;
				font-size: 12px;
				left: 0;
				padding-block: 5px;
				position: absolute;
				text-align: center;
				width: 100%;
			}
		}

		&.vertical {
			flex-direction: column;
			height: auto;

			& > .barItem {
				min-height: 36px;
				width: 100%;

				&::before {
					height: 100%;
					width: var(--value);
				}

				& > span {
					position: absolute;
					right: 10px;
					top: 50%;
					transform: none;
					translate: 0 -50%;
				}

				& > label {
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 100%;
					padding: 5px 10px;
					width: auto;
				}
			}
		}
	}
}
