.buttonChooser {
	display: flex;
	flex-direction: column;
	gap: 7px;

	label {
		font-weight: bold;
		text-align: left;
	}

	.values {
		display: flex;
		flex-direction: row;
	}

	.button {
		background-color: var(--COLOR_1);
		border-radius: 0;
		padding-inline: 14px;

		&:hover {
			background-color: #333;
		}

		&[data-active='true'] {
			background-color: var(--ACTIVE_COLOR_HOVER);
		}

		&:first-child {
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
		}

		&:last-child {
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
		}
	}
}
