.field {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;

	& > label {
		color: #333;
		font-size: 16px;

		.icon {
			color: #aaa;
			cursor: pointer;
			font-size: 14px;
			transition: all 0.25s;
			translate: 0 2px;

			&:hover {
				color: var(--COLOR_1);
			}
		}
	}

	& > input,
	& > select,
	& > textarea,
	& > .fieldValue {
		background-color: #ffffff;
		border: 1.5px solid #ccc;
		border-radius: 4px;
		color: #333333;
		font-size: 16px;
		outline: none;
		height: 37px;
		padding: 7px 10px;
		transition: all 0.25s;
		max-width: 100%;
		user-select: all;

		&[type='checkbox'] {
			height: auto;
		}

		&:focus {
			border-color: var(--ACTIVE_COLOR);
		}

		&::placeholder {
			color: #aaa;
		}

		&:disabled {
			cursor: not-allowed;
			opacity: 0.7;
		}
	}

	.fieldValue {
		min-height: 35px;
		height: auto;
	}

	textarea {
		height: auto;
	}

	& > .fieldValue {
		background-color: #f4f4f4;
		cursor: not-allowed;
	}

	.right {
		text-align: right;
	}

	& > select {
		background-color: #eee;
	}

	& > .error {
		color: var(--ALERT);
		font-size: 10px;
	}
}
