.group {
	background-color: #fff;
	border-radius: 7px;
	box-shadow: #3333 0 0 7px;
	display: flex;
	flex-direction: column;
	gap: 14px;
	max-width: 100%;

	.title {
		font-size: 18px;
		font-weight: bold;
		padding: 21px 21px 0;
		width: 100%;
	}

	.groupContent {
		display: flex;
		flex-direction: column;
		gap: 14px;
		height: 100%;
		max-width: 100%;
		overflow: auto;
		padding: 0 21px 21px;
		position: relative;
	}

	@media only screen and (max-width: 700px) {
		.groupContent {
			overflow-x: auto;
		}
	}
}
