.radialChart {
	--coef: calc(440 / 160 * var(--chart-width));

	position: relative;
	height: var(--chart-height);
	width: var(--chart-width);

	span {
		display: flex;
		flex-direction: column;
		font-size: 24px;
		justify-content: center;
		height: 100%;
		position: absolute;
		text-align: center;
		top: 0;
		left: 0;
		height: var(--chart-height);
		width: var(--chart-width);
	}

	svg {
		transform: rotate(-90deg);

		.value {
			animation: html 1s ease-out forwards;
			cy: calc(100% / 2);
			cx: calc(100% / 2);
			fill: none;
			stroke: var(--ACTIVE_COLOR);
			stroke-dasharray: var(--coef);
			stroke-dashoffset: var(--coef);
			stroke-width: 10px;
			transition: all 0.25s;
		}

		&:hover {
			.background {
				stroke-width: 6px;
			}
			.value {
				stroke-width: 12px;
			}
		}

		.background {
			animation: html 1s ease-out forwards;
			cy: calc(100% / 2);
			cx: calc(100% / 2);
			fill: none;
			stroke: #ccc;
			stroke-dasharray: 0;
			stroke-dashoffset: var(--coef);
			stroke-linecap: round;
			stroke-width: 10px;
			transition: all 0.25s;
		}
	}

	@keyframes html {
		to {
			stroke-dashoffset: calc(var(--coef) - (var(--coef) / 100 * var(--chart-value) * 1));
		}
	}
}
