.slideShow {
	background-color: #fff;
	border-radius: 14px;
	box-shadow: #3336 0 0 4px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	min-height: 200px;
	min-width: 200px;
	height: 100%;
	width: 100%;

	.hide {
		opacity: 0;
	}

	.content {
		background-color: #fffa;
		backdrop-filter: blur(10px);
		border-radius: 14px;
		box-shadow: #3333 0 0 4px;
		top: 7px;
		display: flex;
		flex-direction: column;
		gap: 7px;
		left: 7px;
		padding: 14px;
		position: absolute;
		transition: all 0.25s;
		transition-timing-function: ease-in;
		width: calc(100% - 14px);
		z-index: 1;

		h3 {
			font-size: 14px;
			font-weight: bold;
		}

		p {
			color: #666;
			font-size: 12px;
		}
	}

	.allSlides {
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;

		img {
			background-color: #ccc;
			object-fit: cover;
			flex-grow: 1;
			height: 100%;
			min-width: 100%;
			transition: all 0.25s;
		}
	}

	.commands {
		background-color: #fff9;
		backdrop-filter: blur(10px);
		border-radius: 14px;
		box-shadow: #3333 0 0 4px;
		bottom: 7px;
		display: flex;
		flex-direction: row;
		gap: 7px;
		left: 7px;
		position: absolute;
		transition: all 0.5s;
		width: calc(100% - 14px);

		.stepController {
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			flex-wrap: wrap;
			gap: 7px;
			justify-content: center;
			padding: 10px 14px;

			button {
				background-color: #aaa;
				border-radius: 50% !important;
				height: 7px;
				margin: auto 0;
				width: 7px;

				&:hover {
					background-color: #333 !important;
				}

				&[data-active='true'] {
					background-color: var(--ACTIVE_COLOR);
				}
			}
		}

		&:hover {
			background-color: #fffc;
		}

		button {
			border-radius: 0;

			&::before {
				font-weight: bold;
			}

			&:hover {
				background-color: transparent;

				&::before {
					color: var(--ACTIVE_COLOR);
				}
			}
		}
	}
}
