<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmação de E-mail</title>
    <style type="text/css">
        .recoverCodeContainer {
            display: flex;
            flex-direction: row;
        }
        .recoverCode {
            background-color: #f4f4f4;
            border: 2px solid #333;
            border-radius: 7px;
            color: #333;
            font-weight: bold;
            font-size: 18px;
            margin: 7px 0;
            padding: 14px;
        }
    </style>
</head>
<body>
    <p>Ola, Caro Usuário</p>
    <p>Você esta tentando utilizar seu convite para o ${projectFullName} as <b>${date}</b>.</p>
    <p>A seguir você encontra o código de confirmação:</p>
    <div class="recoverCodeContainer">
        <div class="recoverCode">
            ${confirmCode}
        </div>
    </div>
    <p>Utilize este código na tela de cadastro do seu usuário</p>
    <p>Caso você não tenha solicitado este procedimento, entre em contato conosco pelo e-mail <a href="mailto: ${supportEmail}">${supportEmail}</a></p>
    <br />
    <p>Atenciosamente,</p>
    <p>${projectFullName}</p>
</body>
</html>