<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Faça parte do Meu Orçamento Online</title>
</head>
<body>
    <h3>Olá, tudo bem?</h3>
    <p>O usuário de nome ${userName} e e-mail ${userEmail} esta te convidando para fazer parte do ${projectFullName}.</p>
    <div>
        <b>${userName}:</b> ${customMessage}
    </div>
    <p>Para fazer parte desse mundo você precisa:</p>
    <ul>
        <li>Entrar no site <a href="${mainURL}">${projectFullName}</a></li>
        <li>Clicar no botão "Cadastrar-se"</li>
        <li>Informar o código a seguir: <b>${code}</b></li>
        <li>Informar os demais campos requisitados</li>
    </ul>
    <p>Esperamos você em breve. Após o seu cadastro, lhe enviamos um e-mail com mais instruções.</p>
    <br />
    <p>Atenciosamente,</p>
    <p>${projectFullName}</p>
</body>
</html>